<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
 		http://www.springframework.org/schema/beans/spring-beans.xsd">
 		
 	<bean id="NormalBattery" class="battery.NormalBattery"/>
 	<bean id="ChargeBattery" class="battery.ChargeBattery"/>
 	
 	<bean id="Robot" class="toy.Robot"/>
 	
 	<bean id="Car" class="toy.Car">
 		<property name="battery" ref="ChargeBattery"></property>
 	</bean>
 	
 </beans>